<!-- Footer -->
    <style>
    /* Footer */
    @media(max-width:576px){
        footer{
            text-align: center;
        }
    }
    footer{
        font-size:14px;
    }
    #footer-hr{
        background-color:#ce1b45;
        height:15px;
        margin-top:120px;
    }
    .left-footer a{
        color:black;
        text-decoration: none;
    }
    .left-footer a:hover{
        color:grey;
        transition:0.2s color;
    }
    /* Footer End */
    </style>
    <hr id = "footer-hr">
    <footer class="container pb-2">
        <div class="row">
            <div class="col-md-9  col-sm-12 left-footer">
                <a href="/about" class = "mr-3">Hakkımızda</a>|<a href="/contact" class = "ml-3">İletişim</a>
            </div>
            <div class="col-md-3 col-sm-12">
                <span>KACNET © 2020 Tüm Hakları Saklıdır.</span>
            </div>
        </div>
    </footer>
<!-- Footer End -->